[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask_cors = "*"
python-dotenv = "*"
marshmallow = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
